@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti nella Pizzeria Gourmet LaTorre!</h1>
    <p>
        <a class="nav-link text-dark text-decoration-underline text-primary" asp-area="" asp-controller="Menu" asp-action="Index">Dai uno sguardo al nostro Menù</a>
    </p>
</div>
